@font-face {
  font-family: 'GladyssAlt';
  src: url('GladyssAlt.eot');
  src: url('GladyssAlt.eot?#iefix') format('embedded-opentype'),
       url('GladyssAlt.svg#GladyssAlt') format('svg'),
       url('GladyssAlt.ttf') format('truetype'),
       url('GladyssAlt.woff') format('woff'),
       url('GladyssAlt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.gene-marie-font {
  font-family: 'GladyssAlt';
  font-size: 3rem;
}
